.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/nbproject/
dist-stage/alina-sprite.svg
dist-stage/favicon.ico
dist-stage/favicon.svg
dist-stage/index.html
dist-stage/manifest.json
dist-stage/img/logo.82b9c7a5.png
dist-stage/js/0.js
dist-stage/js/app.js
dist-stage/js/chunk-vendors.js
