<!DOCTYPE html>
<html lang="ru" style="background-color: #343a40; color: #fff;">
<head>
    <!-- M45A -->
    <!--##################################################-->
    <!--region 3rd PART-->
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(91541194, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/91541194" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
    <!--endregion 3rd PART-->
    <!--##################################################-->
    <!--region COMMON-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json"/>
    <link rel="icon" href="/favicon.svg">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <base target="_parent"/>
    <!--endregion COMMON-->
    <!--##################################################-->
    <!--region SPECIFIC-->
    <title><%= VUE_APP_ALINA_TITLE %></title>
    <!--endregion SPECIFIC-->
    <!--##################################################-->
</head>
<body id="alina-real-body" class="alina-main-bg alina-main-txt">
<noscript>
    <strong>¯\_(ツ)_/¯</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
<!-- #################################################################################################### -->
 <!-- region ALINA -->
 <link  href="<%= VUE_APP_ALINA_DOMAIN_CDN %>/kiss/their.ck/index.css" itemprop="url" rel="stylesheet"/>
<script src="<%= VUE_APP_ALINA_DOMAIN_CDN %>/kiss/their.ck/js-001-main.js"></script>
<link  href="<%= VUE_APP_ALINA_DOMAIN %>/kiss/alina.css/index.css" itemprop="url" rel="stylesheet"/>
<link  href="<%= VUE_APP_ALINA_DOMAIN %>/kiss/alina.css.specific/index.css" itemprop="url" rel="stylesheet"/>
 <!-- endregion ALINA -->
 <!-- #################################################################################################### -->
</body>
</html>
