@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';
@import '../node_modules/keen-ui/dist/keen-ui.css';

/*region REQUIRED BY INCLUDED FRAMEWORKS*/
$base-background: #9BDAFF;

/*region Keen required*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
/*endregion Keen required*/

/*region Common things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { height: 100%; }

body {
  height: 100%;
  position: relative;
  overflow: hidden
}

#app {
  position: relative;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: scroll;

  border: orange solid 2px;
}

button {
  padding: 1mm;
}

input:focus,
select:focus,
textarea:focus {
  background-color: $base-background;
}
/*endregion Common things */
/*endregion REQUIRED BY INCLUDED FRAMEWORKS*/

//region Form
form {
  background-color: #e9ecef;
  padding: 2mm;
}

//endregion Form