@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';
@import '../node_modules/keen-ui/dist/keen-ui.css';
/*#####*/
$base-background: #9BDAFF;
/*$brand-primary-color: #673AB7;*/
/*$brand-accent-color: #FF4081;*/
/*#####*/
/*region FUNDAMENTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  overflow: hidden;
  /*padding-top: 60px;*/
}

#alina-body-wrapper {
  position: relative;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

/*endregion FUNDAMENTAL */
/*#####*/
/*region REQUIRED BY INCLUDED FRAMEWORKS*/
/*region Keen required*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*endregion Keen required*/
/*endregion REQUIRED BY INCLUDED FRAMEWORKS*/
/* ################################################## */
/*region tiny adjustments*/
/*region Form*/
.alina-form {
  background-color: #e9ecef;
  padding: 2mm;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #9BDAFF;
}

.m-buttons-1 button, .m-buttons-1 a {
  margin-left: 1px;
}

/*.btn {
  padding: 1mm;
  margin-left: 1mm;
  margin-bottom: 1mm;
}*/
/*endregion Form*/

.fixed-height-100px {
  overflow: hidden;
  max-height: 100px;
}

.fixed-height-150px {
  overflow: hidden;
  max-height: 150px;
}

/*endregion tiny adjustments*/
/* ################################################## */
/*region ck-editor*/
.ck-content {
  padding: 0;
}

.ck-content li {
  margin-left: 2em;
}

.ck-content p, .ck-content code {
  margin: 0;
  padding: 0 2px 0 2px;
  border: 0;
  line-height: 1;
}

.ck-content p {
  line-height: 1.5;
}

.ck-content code {
  color: black;
  padding-left: .5em;
  padding-right: .5em;
}

/*endregion ck-editor*/
/* ################################################## */