@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';
@import '../node_modules/keen-ui/dist/keen-ui.css';

/*region REQUIRED BY INCLUDED FRAMEWORKS*/
$base-background: #9BDAFF;

/*region Keen required*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*$brand-primary-color: #673AB7;
$brand-accent-color: #FF4081;*/

html {
  font-size: 100%;
}

/*endregion Keen required*/

/*region Common things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { overflow-x: hidden; }

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  overflow: hidden;
  //padding-top: 60px;
}

#alina-body-wrapper {
  position: relative;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;

  //border: orange solid 2px;
}

/*.btn {
  padding: 1mm;
  margin-left: 1mm;
  margin-bottom: 1mm;
}*/

input:focus,
select:focus,
textarea:focus {
  background-color: $base-background;
}

.fixed-height-100px {
  overflow: hidden;
  max-height: 100px;
}

.fixed-height-150px {
  overflow: hidden;
  max-height: 150px;
}

.m-buttons-1 button
{
  margin-left: 1px;
}
ul,
li
{
  /*http://htmlbook.ru/css/list-style-position*/
  list-style-position: inside;
}

.ck-content .todo-list .todo-list__label>input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
   left: 10px;
  margin-right: 25px;
   right: 0;
  margin-left: 0;
}

p
, .ck-content p
, code
, .ck-content code
{
  margin:0;
  padding:0;
  border: 0;
  line-height: 1;
}

p
, .ck-content p{
  line-height: 1.5;
}

code, .ck-content code {
  color: black;
  padding-left: 1em;
}
/*endregion Common things */
/*endregion REQUIRED BY INCLUDED FRAMEWORKS*/

//region Form
.alina-form {
  background-color: #e9ecef;
  padding: 2mm;
}

//endregion Form