@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

.btn:focus {
  box-shadow: none !important;
  outline: 0 solid rgba(0, 0, 0, 0.5);
  outline-offset: 0;
}
.btn {
  filter: opacity(66%) !important;
}
