@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

// region BUTTONS
.btn {
  filter: opacity(50%) !important;
}

.btn:focus {
  box-shadow: none !important;
  outline: 0;
  outline-offset: 0;
}

.btn:active {
  background-color: black !important;
  border-color: black !important;
  outline-color: black !important;
}

.btn:hover {
  filter: opacity(100%) !important;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
  color: rgba(var(--corporate-txt));
  background-color: var(--corporate-bg);
  border-color: var(--corporate-bg);
  outline-color: var(--corporate-bg);
}

// endregion BUTTONS
// region MODAL
.modal-dialog {
  .modal-content {
    background-color: #444444;
  }
}
// endregion MODAL
// region TEXT UTILS
.wrap-extreme {
  word-wrap: break-all;
  word-break: break-all;
  overflow-wrap: anywhere;
  hyphens: none;
  white-space: normal;
}
// endregion TEXT UTILS

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

// region IMG VIDEO FILES
.alina-file {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  justify-content: flex-start;
  text-decoration: none;
  color: white;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
    color: white;
  }

  .text {
    flex: 0 1 auto;

    background-color: black;
    border-radius: 10px;
    padding: 2px;
  }

  .icon {
    /* Takes remaining vertical space */
    flex: 1 1 auto;

    min-height: 0; /* Critical for shrinkage */

    /* Center the SVG */
    display: flex;
    align-items: flex-start; /* Vertical centering */
    justify-content: center; /* Horizontal centering */

    .thumbnail,
    svg,
    img,
    video {
      border-radius: 10px;
      /* Fill the container's height */
      height: 100%;

      /* Maintain aspect ratio while filling height */
      width: 100%;

      /* Ensure it doesn't overflow */
      max-width: 100%;
      max-height: 100%;

      /* Remove inline spacing */
      display: block;

      /* Optional: control scaling behavior */
      object-fit: contain;
      object-position: top;
    }

    audio {
      display: block;
      width: 99%;
    }
  }
}
// endregion IMG VIDEO FILES
// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
