@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

.btn {
  filter: opacity(50%) !important;
}

.btn:focus {
  box-shadow: none !important;
  outline: 0;
  outline-offset: 0;
}

.btn:active {
  background-color: black !important;
  border-color: black !important;
  outline-color: black !important;
}

.btn:hover {
  filter: opacity(100%) !important;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
  color: rgba(var(--corporate-txt));
  background-color: var(--corporate-bg);
  border-color: var(--corporate-bg);
  outline-color: var(--corporate-bg);
}

.modal-dialog {
  & .modal-content {
    background-color: #444444;
  }
}

.wrap-extreme {
  word-wrap: break-all;
  word-break: break-all;
  overflow-wrap: anywhere;
  hyphens: none;
  white-space: normal;
}
